.item1{
background-color:red;
}

.item2{
background-color:aqua;
}

.item3{
background-color:yellow;
}

.done{
background-color:black;
}

.well{
background-color:green;
}

.need{
background-color:orange;
}

